[Unit]
Description=ROG Control Center
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/uwsm-app -- /usr/bin/rog-control-center
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
