[Unit]
After=supergfxd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --quiet is-active supergfxd.service
ExecStart=/usr/bin/systemctl stop display-manager.service
ExecStart=/usr/bin/supergfxctl --mode Hybrid
ExecStart=/usr/bin/timeout 40 /bin/bash -c 'sleep 5; until [[ "$(/usr/bin/supergfxctl --get)" == "Hybrid" ]]; do sleep 5; done'
ExecStart=/usr/bin/systemctl start display-manager.service
ExecStart=/bin/bash -c "echo 1 >/sys/bus/pci/rescan"
ExecStart=/bin/bash -c "echo 0 >/sys/class/firmware-attributes/asus-armoury/attributes/dgpu_disable/current_value"
