[Unit]
After=supergfxd.service
OnSuccess=graphical.target
OnFailure=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --quiet is-active supergfxd.service
ExecStart=/usr/bin/systemctl stop display-manager.service
ExecStart=/usr/bin/supergfxctl --mode Integrated
ExecStart=/usr/bin/timeout 10 /bin/bash -c 'until [[ "$(/usr/bin/supergfxctl --get)" == "Integrated" ]]; do sleep 1; done'
